<p>
  adddish works!
</p>
<div class="container-fluid">
  <mat-card class="card offset-sm-1 col-sm-10 offset-md-1 col-md-10 offset-lg-1 col-lg-10">
          <mat-card-header>
            <div *ngIf="configureType.text === 'edit'">
              <legend>Edit dish</legend>
          </div>
          <div *ngIf="configureType.text === 'add'">
              <legend>Add new dish</legend>
          </div>
      </mat-card-header>
          <mat-card-content>
  <form class="example-form" [formGroup]="bookConfigureForm" (ngSubmit)="saveBook()">
    <span *ngIf="dish.image">
      <img src="data:image/JPEG;base64,{{dish.image}}" style="height: 50px; width:50px;"
          >
  </span>

  <button mat-raised-button type="button" color="primary" (click)="imgFileInput.click()"
                            style="padding: 5px;">Choose cover of book
                    </button>
<input hidden [(ngModel)]="dish.image" type="file" [formControl]="imageFormControl" accept="image/jpeg" #imgFileInput
                           (change)="onFileChange($event)"/> 

      
    
    <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="dish.name" placeholder="name"
          type="text"
          formControlName="name"
          required>
        </mat-form-field>

       
        <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="dish.price" placeholder="price"
          type="number"
          formControlName="price"
          required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="dish.weight" placeholder="weight"
          type="number"
          formControlName="weight"
          required>
        </mat-form-field>
        <table >
          <tr>
                  <th scope="col"> 
        <mat-form-field>
          <mat-select [(value)]="dish.menuId" [(ngModel)]="dish.menuId" placeholder="select menu"
          formControlName="menus">
            <mat-option *ngFor="let menu of menus" [value]="menu.id">
                           {{ menu.name }}
            </mat-option>
            </mat-select>
            
            </mat-form-field>
          </th>
          <th scope="col"> 
            <button mat-raised-button type="button" color="primary" (click)="addNewMenu()"
            style="padding: 5px;">Add new Menu
            </button>
        </th>
    </tr>
  </table >     

      <button class="submit-button" mat-raised-button type="submit"
       color="accent" [disabled]="!bookConfigureForm.valid">
        Click me!
        
      </button>
    </form>

  </mat-card-content>
  <div *ngIf="configureType.text === 'edit'">
    <button type="button" class="btn btn-primary" mat-raised-button type="submit"
    color="accent" (click)="dishIngradients(dish.id)">
     Edit ingradients between dish and ingradients  
   </button>  
  </div>
  </mat-card>
 
  </div>
