<h3>Наші страви</h3>

<form class="needs-validation list-group-item" name="searchForm" novalidate (ngSubmit)="findDishByName()">    
  <label for="validationCustom03">Пошук страви за її назвою</label>
   <div class="form-row">
   
      
      <div class="col-8"> 
      <input type="text" name="search" [(ngModel)]="searchDishWord" class="form-control" placeholder="Введіть назву страви яку бажаєте знайти" id="search" required>
      <div class="invalid-feedback">
        Please a valid name of the dish.
      </div>
    </div> 
    <div class="col-4">  
      <button class="btn btn-primary btn-lg btn-block" type="submit">Знайти страву</button>
    </div> 
     
     
       
    
    </div>  
</form>


<div class="col-lg-4 shadow-lg p-3 mb-5 bg-white rounded" >  
 
  <mat-card>
   
<ul class="nav list-group d-flex justify-content-between align-items-left shadow p-2 mb-2 bg-white rounded" >
    <li class="nav-header">Меню</li>
  <li class="list-group-item shadow p-1 mb-1 bg-white rounded" role="presentation" *ngFor="let menu of menus"
    (click)="onSelect(menu)" align="left">
     <span class="list-group-item">
  <a class="list-group-item shadow-sm p-2 mb-2 bg-white rounded" routerLink="/dishesbymenu/{{menu.id}}" >{{menu.name}}</a>
</span>
  </li>
</ul>
</mat-card>
</div>



<div class="col-lg-8 shadow-lg p-3 mb-5 bg-white rounded" >
  <mat-card>
<mat-grid-list cols="2" >
    <mat-grid-tile *ngFor="let dish of dishes" class="dish" >
                <div class="w-90 p-3 h-90 d-inline-block mx-auto dish" >
                     
                       <table class="table-bordered" >
            <thead>
                <tr>
                  <th colspan="2" scope="col"><h6>
                      <a class="list-group-item" routerLink="/dish/{{dish.id}}">
                        <strong>{{dish.name}}</strong>
                    </a>
                  </h6></th>
                  </tr>
              </thead>
            <tbody>
           <tr class="text-center">
        <th rowspan="3" scope="row">
            <div class="text-center">
          <img src="data:image/JPEG;base64,{{dish.image}}" class="rounded img-thumbnail" style="height: 180px; width:150px;">
        </div>
        </th>
          </tr>
          <tr>
           <th scope="col">    
             Ціна: {{dish.price}}
            </th>
        </tr>  
        <tr>
          <th scope="col">    
            Вага: {{dish.weight}}
           </th>
       </tr>                
           </tbody> 
            </table>
           
                 </div>
                   </mat-grid-tile>
  </mat-grid-list>
 </mat-card>
</div>