<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Моя бібліотека
  </h1>
  <div class="tab-content">
  <nav class="navbar navbar-inverse">
   <ul class="nav nav-pills nav-justified text-center">
   <li class="divider-vertical" role="presentation"><a class="btn-large" routerLink="/books"><h1><strong><FONT SIZE=7>Books</FONT></strong></h1></a></li>
   <li class="divider-vertical" role="presentation"><a class="btn-large" routerLink="/authors"><h1><strong><FONT SIZE=7>Authors</FONT></strong></h1></a></li>
  <li class="divider-vertical" role="presentation"><a class="btn-large" routerLink="/publishers"><h1><strong><FONT SIZE=7>Publishers</FONT></strong></h1></a></li>
    </ul>
  </nav>
</div>
  <router-outlet></router-outlet>
  </div>


