<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
<nav class="navbar navbar-inverse navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
  <ul class="navbar-nav mr-auto nav-pills nav-justified text-center">
    <li class="nav-item divider-vertical"  role="presentation">
  <a class="navbar-brand btn-large" routerLink="/mainpage">Main page</a>
</li>
  <li class="nav-item divider-vertical"  role="presentation">
  <a class="navbar-brand btn-large" routerLink="/dishes">Dishes</a>
</li>
  <li class="nav-item divider-vertical"  role="presentation">
  <a class="navbar-brand btn-large" routerLink="/personnel">Personnel</a>
</li>
  <li class="nav-item divider-vertical"  role="presentation">
  <a class="navbar-brand btn-large" routerLink="/restoranschema">Scheme of the restaurant</a>
</li>
  <li class="nav-item divider-vertical"  role="presentation">
  <a class="navbar-brand btn-large" routerLink="/contacts">Our address</a>
</li>
</ul>
</div>

</nav>
  <div class="p-5" style="text-align:center" *ngIf="showMenu === true">
    <nav>
      <a routerLink="/employees">Employees</a>
      <a routerLink="/ingradients">Storage</a>
      <a routerLink="/menu">Menu</a>
      <a routerLink="/editdishes">Edit dishes</a>
      <a routerLink="/orders">Orders</a>
    </nav>
    </div>
<router-outlet></router-outlet>

</div>


