<p>
  edit-dish-ingradient works!
</p>

<div class="container">
  <div class="row">
    <div class="col">
      1 of 2
    </div>
    <div class="col">
      2 of 2
    </div>
  </div>
      <form class="needs-validation" novalidate>
      <div class="row">
        <div class="col">
          <label for="validationCustom03">City</label>
          <input type="text" class="form-control" id="validationCustom03" required>
          <div class="invalid-feedback">
            Please provide a valid city.
          </div>
        </div>
        <div class="col">    
          <button class="btn btn-primary" type="submit">Submit form</button>
          <div class="invalid-feedback">
            Please provide a valid city.
          </div>
        </div>
      </div>
      </form>
</div>
