<p>
  edit-dish-ingradient works!
</p>

<div class="container">
  Change numerosity
  <div class="row">
    <div class="col">
     dish name: <strong>{{dish.name}}</strong>
    </div>
    <div class="col">
      ingradient name:  <strong>{{dishIngradient.ingradientName}}</strong>
    </div>
  </div>
  <form class="example-form needs-validation" [formGroup]="editIngradientForm" (ngSubmit)="changeNumerosity()" novalidate>
   
         <mat-form-field class="example-full-width">
          <input class="form-control" matInput [(ngModel)]="dishIngradient.numerosity" placeholder="numerosity"
          type="number"
          formControlName="numerosity"
          required>
          </mat-form-field>           

      <button class="submit-button" mat-raised-button type="submit"
       color="accent" [disabled]="!editIngradientForm.valid">
       Поміняти кількість інградієнтів в страві
        
      </button>
    </form>
</div>
