<div  class="p-5" style="text-align:center">
  <nav>
    <a routerLink="/employees">Employees</a>
    <a routerLink="/ingradients">Storage</a>
    <a routerLink="/menu">Menu</a>
    <a routerLink="/editdishes">Edit dishes</a>
    <a routerLink="/orders">Orders</a>
  </nav>
  </div>


<div class="container-fluid">
  <mat-card class="card offset-sm-1 col-sm-10 offset-md-1 col-md-10 offset-lg-1 col-lg-10">
          <mat-card-header>
                <div>
              <legend>Add new ingradient</legend>
          </div>
      </mat-card-header>
          <mat-card-content>
  <form class="example-form" [formGroup]="ingradientConfigureForm" (ngSubmit)="saveIngradient()">
        
     <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="ingradient.name" placeholder="name"
          type="text"
          formControlName="name"
          required>
        </mat-form-field>
       
        <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="ingradient.numberOnStorage" placeholder="numberOnStorage"
          type="number"
          formControlName="numberOnStorage"
          required>
        </mat-form-field>        
      
      <button class="submit-button" mat-raised-button type="submit"
       color="accent" [disabled]="!ingradientConfigureForm.valid">
        Click me!        
      </button>

    </form>
  </mat-card-content>
  </mat-card>
  </div>