 
  <h1><strong>Страва: {{dish.name}}</strong></h1>

  <form class="example-form" [formGroup]="addIngradientForm" (ngSubmit)="addIngradientToDish()">
      
    <mat-form-field>
      <mat-select [(value)]="idOfIngradients" [(ngModel)]="dishIngradient.ingradientId" placeholder="select ingradient"
      formControlName="ingradientName">
        <mat-option *ngFor="let ingradient of ingradients" [value]="ingradient.id">
                       {{ ingradient.name }}
        </mat-option>
        </mat-select>

              
        </mat-form-field>

         <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="dishIngradient.numerosity" placeholder="numerosity"
          type="number"
          formControlName="numerosity"
          required>
        </mat-form-field>
           

      <button class="submit-button" mat-raised-button type="submit"
       color="accent" [disabled]="!addIngradientForm.valid">
        Додати новий інградіент до страви
        
      </button>
    </form>

<table class="table table-hover">
  <thead>
  <tr class="text-center">
      <th scope="col">Назва інградіенту</th>
      <th scope="col">Кількість іградіентів в страві</th>
  </tr>
</thead>
<tbody>
    <tr *ngFor="let ingradient of dishIngradients" class="text-center">
        <th scope="row">
   {{ingradient.ingradientName}}
</th>
<th scope="row">
  {{ingradient.numerosity}}
  </th>
<th scope="row">
<button type="button" class="btn btn-primary" (click)="editDishIngradients(ingradient.ingradientId)">
  Редагувати кількість інградіентів в страві
</button> 
</th>
<th scope="row">

<button type="button" class="btn btn-primary" (click)="onIngradientDeleteClick(ingradient)">
  Видалити інградіент із страви
</button> 
</th>
</tr>
</tbody>
</table>

<button type="button" class="btn btn-primary" (click)="deleteAllIngradients(dish)">
  Видалити всі інградієнти зі страви
</button> 

