

<p>
  <button type="button" class="btn btn-outline-primary" (click)="openSearchByDatePickerForm()"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
    Filter by order date
  </button>
  <button type="button" class="btn btn-outline-primary" (click)="openSearchByTableNumberForm()"
  [attr.aria-expanded]="!filterByTable" aria-controls="filterByTableForm">
  Filter by table number
</button>
<button type="button" class="btn btn-outline-primary" (click)="openSearchByWaiterForm()"
[attr.aria-expanded]="!filterByWaiter" aria-controls="filterByTableForm">
Filter by order waiter
</button>
</p>
<div id="collapseExample" [ngbCollapse]="!isCollapsed">
  <div class="card">
    <div class="card-body">
      <form class="example-form" [formGroup]="datePickerConfigureForm" (ngSubmit)="filterOrdersByDate()">
       
        <mat-form-field>
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker"
          [(ngModel)]="date"
          formControlName="date"
          required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>        
  
    <button class="submit-button" mat-raised-button type="submit"
     color="accent" [disabled]="!datePickerConfigureForm.valid">
      Search by date      
    </button>
  </form>
    </div>
  </div>
</div>

<div id="filterByTableForm" [ngbCollapse]="!filterByTable">
  <div class="card">
    <div class="card-body">
      Here is will be search table form
    </div>
  </div>
</div>

<div id="filterByWaiterForm" [ngbCollapse]="!filterByWaiter">
  <div class="card">
    <div class="card-body">
      Here is will be search waiter form
    </div>
  </div>
</div>
<button type="button" class="btn btn-primary btn-large navbar-btn" (click)="addNewOrder()">
  Add New Order
</button>

<table class="table table-hover">
  <thead>
  <tr class="text-center">
      <th scope="col">Order Number</th>
      <th scope="col">Table Number</th>
      <th scope="col">Order Date</th>
      <th scope="col">Waiter Name</th>
      <th scope="col">Waiter Surname</th>
      <th scope="col">Order Status</th>
      <th scope="col">Close order</th>
      <th scope="col">Edit order</th>
      <th scope="col">Delete order</th>
  </tr>
</thead>
<tbody>
    <tr *ngFor="let order of orders" class="text-center">
        <th scope="row">
          <a class="list-group-item shadow-sm p-2 mb-2 bg-white rounded" routerLink="/cookeddish/{{order.id}}" >{{order.id}}</a>
</th>
<th scope="row">
  {{order.tableNumber}}
  </th>
  <th scope="row">
    {{order.orderDate}}
   </th>
   <th scope="row">
    {{order.waiterName}}
   </th>
   <th scope="row">
    {{order.waiterSurname}}
   </th>
   <th scope="row">
    {{order.state}}
   </th>
<th scope="row">
  <button type="button" class="btn btn-primary" (click)="setOrderClose(order)">
    Close
  </button> 
</th>
<th scope="row">
<button type="button" class="btn btn-primary" (click)="editOrder(order.id)">
  Edit
</button> 
</th>
<th scope="row">

<button type="button" class="btn btn-primary" (click)="delete(order)">
  Delete
</button> 
</th>
</tr>
</tbody>
</table>
