
<button type="button" class="btn btn-primary btn-large navbar-btn" (click)="addNewDish()">
  Add New Dish
</button>

<table class="table table-hover">
  <thead>
  <tr class="text-center">
      <th scope="col">Dish Name</th>
      <th scope="col">Price</th>
      <th scope="col">Weight</th>
      <th scope="col">Menu</th>
      <th scope="col">Edit Dish</th>
      <th scope="col">Delete Dish</th>
  </tr>
</thead>
<tbody>
    <tr *ngFor="let dish of dishes" class="text-center">
        <th scope="row">
{{dish.name}}
</th>
<th scope="row">
 {{dish.price}} $
  </th>
  <th scope="row">
    {{dish.weight}} oz
   </th>
   <th scope="row">
   {{dish.menuName}}
   </th>
   <th scope="row">
<button type="button" class="btn btn-primary" (click)="editDish(dish.id)">
  Edit
</button> 
</th>
<th scope="row">

<button type="button" class="btn btn-primary" (click)="open(dish)">
  Delete
</button> 
</th>
</tr>
</tbody>
</table>