<div style="text-align:center">
  <nav>
    <a routerLink="/employees">Employees</a>
    <a routerLink="/ingradients">Storage</a>
    <a routerLink="/menu">Menu</a>
    <a routerLink="/editdishes">Меню страв</a>
    <a routerLink="/orders">Замовлення</a>
  </nav>
  </div>


<button type="button" class="btn btn-primary btn-large navbar-btn" (click)="addNewDish()">
  Додати нову страву
</button>

<table class="table table-hover">
  <thead>
  <tr class="text-center">
      <th scope="col">Назва страви</th>
      <th scope="col">Ціна</th>
      <th scope="col">Вага</th>
      <th scope="col">Меню</th>
      <th scope="col">Редагувати</th>
      <th scope="col">Видалити</th>
  </tr>
</thead>
<tbody>
    <tr *ngFor="let dish of dishes" class="text-center">
        <th scope="row">
{{dish.name}}
</th>
<th scope="row">
 {{dish.price}}
  </th>
  <th scope="row">
    {{dish.weight}}
   </th>
   <th scope="row">
   {{dish.menuName}}
   </th>
   <th scope="row">
<button type="button" class="btn btn-primary" (click)="editDish(dish.id)">
  Редагувати страву
</button> 
</th>
<th scope="row">

<button type="button" class="btn btn-primary" (click)="onAuthorDeleteClick(author)">
  Видалити страву
</button> 
</th>
</tr>
</tbody>
</table>