
<div class="container-fluid">
  <div style="text-align:center">
    <nav>
      <a routerLink="/employees">Employees</a>
      <a routerLink="/ingradients">Storage</a>
      <a routerLink="/menu">Menu</a>
      <a routerLink="/editdishes">Меню страв</a>
      <a routerLink="/orders">Замовлення</a>
    </nav>
    </div> 
  <mat-card class="card offset-sm-1 col-sm-10 offset-md-1 col-md-10 offset-lg-1 col-lg-10">
          <mat-card-header>
            <div *ngIf="configureType.text === 'edit'">
              <legend>Change cooker</legend>
          </div>
          <div *ngIf="configureType.text === 'add'">
              <legend>Add new cooked dish to order</legend>
          </div>
      </mat-card-header>
          <mat-card-content>
  <form class="example-form" [formGroup]="cookedDishConfigureForm" (ngSubmit)="saveCookedDish()">
    
        <mat-form-field class="example-full-width">
          <mat-select [(value)]="cookedDish.cookerId" [(ngModel)]="cookedDish.cookerId" placeholder="select cooker"
          formControlName="cooker">
            <mat-option *ngFor="let cook of cookers" [value]="cook.id">
                           {{ cook.name }} {{ cook.surname}}
            </mat-option>
            </mat-select>
            
            </mat-form-field>
           
           <div>
            <mat-form-field class="example-full-width">
              <mat-select [disabled]="configureType.text === 'edit'" [(value)]="cookedDish.dishId" [(ngModel)]="cookedDish.dishId" placeholder="select dish"
              formControlName="dish">
                <mat-option *ngFor="let dish of dishes" [value]="dish.id">
                               {{ dish.name }} 
                </mat-option>
                </mat-select>
                
                </mat-form-field>
              </div>
      
        
      <button class="submit-button" mat-raised-button type="submit"
       color="accent" [disabled]="!cookedDishConfigureForm.valid">
        Click me!
       </button>
    </form>

  </mat-card-content>
  
  </mat-card>
 
  </div>
