

<button type="button" class="btn btn-primary btn-large navbar-btn" (click)="addNewMenu()">
  Add new menu
</button>
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Position Column -->


  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef><h1>Menu list</h1> </mat-header-cell>
    <mat-cell *matCellDef="let element">   
    
    
      <div class="row">
        <div class="col">
          <h4>{{element.name}} </h4>
        </div>
        <div class="col">
          <button type="button" class="btn btn-primary" (click)="editMenu(element.id)">
            Edit menu
          </button> 
        </div>
        <div class="col">
          <button type="button" class="btn btn-primary" (click)="onAuthorDeleteClick(author)">
            Delete menu
          </button>         
        </div>
      </div>

    </mat-cell>
    <mat-cell *matCellDef="let element">
      
   </mat-cell>
  </ng-container>
  

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

