<form class="needs-validation" name="searchForm" novalidate (ngSubmit)="findIngradientByName()">    
  <label for="validationCustom03">Пошук інградієнта за його назвою</label>
   <div class="form-row shadow-lg p-3 mb-5"> 
          <div class="col-8 list-group-item"> 
      <input type="text" name="search" [(ngModel)]="searchIngradientWord" class="form-control" placeholder="Введіть назву інградієнта бажаєте знайти" id="search" required>
      <div class="invalid-feedback">
        Please a valid name of the ingradient.
      </div>
    </div> 
    <div class="col-4 list-group-item">  
      <button [disabled]="searchIngradientWord === undefined || searchIngradientWord.length === 0" class="btn btn-primary btn-lg btn-block" type="submit">Знайти страву</button>
    </div> 
          
    </div>  
</form>


<button type="button" class="btn btn-primary btn-large navbar-btn" (click)="addNewIngradient()">
  Додати новий інградіент на склад
</button>

<table class="table table-hover">
  <thead>
  <tr class="text-center">
      <th scope="col">Назва</th>
      <th scope="col">Кількість на складі</th>
  </tr>
</thead>
<tbody>
    <tr *ngFor="let ingradient of ingradients" class="text-center">
        <th scope="row">
{{ingradient.name}}
</th>
<th scope="row">
  {{ingradient.numberOnStorage}}
  </th>
<th scope="row">
<button type="button" class="btn btn-primary" (click)="editAuthor(author.id)">
  Редагувати автора
</button> 
</th>
<th scope="row">

<button type="button" class="btn btn-primary" (click)="onAuthorDeleteClick(author)">
  Видалити автора
</button> 
</th>
</tr>
</tbody>
</table>
